:javascript
  nickname = '#{current_user.nickname}';
  user_id = '#{current_user.id}';
  cur_time = '#{l Time.now, format: :my}';
.bs-docs-section
  .row
    .col-lg-12
      .well
        .chat_container
          %p.alert
            Добро пожаловать в общий чат #{current_user.nickname}!
          .well
            #chat_room
          %form#new_message_form.form-inline{role: "form"}
            .col-lg-6
              %textarea#message.form-control{placeholder: "Твое сообщение",rows: "4"}
            %br/
            %br/
            %button.btn.btn-success.btn-lg{type: "submit"} Отправить