<h1>Listing messages</h1>

<table id="messages-table">
  <tr>
    <th>Message</th>
    <th>User to</th>
    <th>User from</th>
    <th>Image</th>
    <th>Date at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Message</a>