.bs-docs-section
  .row
    .col-lg-12
      .well
        #posts
:javascript
  $(function() {
    window.router = new BlindDateNew.Routers.PostsRouter({posts: #{@posts.to_json.html_safe}});
    Backbone.history.start();
  });