// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100%;
  //background:url(bg1.jpg);
  background-color: rgb(255, 255, 255);
  /* The html and body elements cannot have any padding or margin. */
  /*background: #f5f6f6; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: asset-url("body_800x800.jpg", image ); /* IE6-8 */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#chat_room {
  height:300px;
  overflow:auto;
  padding:10px 20px;
  border:#999 1px solid;
  background-color:#FAFAFA;
}

.container .well {
  margin-top: 7%;
  border-radius: 20px;
}

.pass_change {
  display: none;
}